input{
  width: 120px;
  height: 75px;
  font-size: 75px;
  border-radius: 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  border-style: none;
}

#calform{
  margin-left: 400px;
  margin-top: 20px;
}

h1{
  text-align: center;
  font-size: 60px;
}
